In [36]:
import pandas as pd

import requests as r

import numpy as np

#defining custom function called "call_my_api"
def call_my_api(start, end):
    return start+end

# Calling the meteostate API to get the average temperature
# for the date range. Code was generated from https://rapidapi.com/meteostat/api/meteostat
def call_temperature_api(start_of_month, end_of_month):
    url = "https://meteostat.p.rapidapi.com/point/monthly"
    querystring = {"lat":"33.812511","lon":"-117.918976","start":start_of_month,"end":end_of_month,"alt":"43"}

    headers = {
        "X-RapidAPI-Key": "810d33a75fmshad81c9f9fe0092dp1b265fjsn84c46f310410",
        "X-RapidAPI-Host": "meteostat.p.rapidapi.com"
    }

    response = r.request("GET", url, headers=headers, params=querystring)
    return response.json()
    

#import matplotlib.pyplot as plt
#lat33.812511, lon-117.918976.

In [46]:
#Create dataframe called "disneyland_reviews_california"
disneyland_reviews = pd.read_csv('disneyland_reviews_california.csv')

#Display general info of the contents of the dataframe
disneyland_reviews.info

<bound method DataFrame.info of        Review_ID  Rating Year_Month Reviewer_Location  \
0      670801367       5     2019-4     United States
1      670760708       5     2019-4     United States
2      670565072       4     2019-5         Australia
3      670544335       5     2019-4     United States
4      670472278       5     2019-4            Canada
...          ...     ...        ...               ...
19401    1563280       5    missing     United States
19402    1540854       5    missing     United States
19403    1534364       1    missing     United States
19404    1506324       5    missing     United States
19405    1398724       5    missing     United States

                                             Review_Text  \
0      This place has always been and forever will be...
1      A great day of simple fun and thrills. Bring c...
2      All and all a great day was had. The crowds ar...
3      Having been to the Florida location numerous t...
4      Had the 4 day pass, spent 3 at DL and one at C...
...                                                  ...
19401  I have taken my music groups to Disneyland for...
19402  This is definitely the Happiest Place on Earth...
19403  never again...what a horrible experience, the ...
19404  We take a long weekend trip to California each...
19405  Disnyeland has to be the BEST place to take a ...

                      Branch
0      Disneyland_California
1      Disneyland_California
2      Disneyland_California
3      Disneyland_California
4      Disneyland_California
...                      ...
19401  Disneyland_California
19402  Disneyland_California
19403  Disneyland_California
19404  Disneyland_California
19405  Disneyland_California

[19406 rows x 6 columns]>

In [47]:
#Check the first 10 rows of the Disneyland reviews dataframe
disneyland_reviews.head(10)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670801367,5,2019-4,United States,This place has always been and forever will be...,Disneyland_California
1,670760708,5,2019-4,United States,A great day of simple fun and thrills. Bring c...,Disneyland_California
2,670565072,4,2019-5,Australia,All and all a great day was had. The crowds ar...,Disneyland_California
3,670544335,5,2019-4,United States,Having been to the Florida location numerous t...,Disneyland_California
4,670472278,5,2019-4,Canada,"Had the 4 day pass, spent 3 at DL and one at C...",Disneyland_California
5,670382191,5,2019-4,Lebanon,Oh my god you can really forget your self and ...,Disneyland_California
6,670303452,5,2019-3,United States,We were so sad that the castle was under refur...,Disneyland_California
7,670215409,3,2019-4,United States,Took my son to the Park on a weekend(Fri Sun)....,Disneyland_California
8,670204404,5,2018-11,United States,There's nothing like Disneyland and it should ...,Disneyland_California
9,670164415,5,2019-4,United States,I think it s because going to Disneyland is ...,Disneyland_California

In [48]:
#Check the final 10 rows of the Disneyland review dataframe
disneyland_reviews.tail(10)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
19396,1728799,5,missing,Canada,Since 1998 we have visited the Disneyland Reso...,Disneyland_California
19397,1660343,5,missing,Australia,Disneyland is the best place to take a family....,Disneyland_California
19398,1659946,4,missing,United States,"I went this past weekend, which also happened ...",Disneyland_California
19399,1646392,5,missing,United States,I have been fortunate enough to be able to vis...,Disneyland_California
19400,1646265,5,missing,United States,We were at Disneyland September 8 12th. What a...,Disneyland_California
19401,1563280,5,missing,United States,I have taken my music groups to Disneyland for...,Disneyland_California
19402,1540854,5,missing,United States,This is definitely the Happiest Place on Earth...,Disneyland_California
19403,1534364,1,missing,United States,"never again...what a horrible experience, the ...",Disneyland_California
19404,1506324,5,missing,United States,We take a long weekend trip to California each...,Disneyland_California
19405,1398724,5,missing,United States,Disnyeland has to be the BEST place to take a ...,Disneyland_California

In [49]:
#Check the shape of the dataframe
disneyland_reviews.shape

(19406, 6)

In [50]:
#Check what data types make up the dataframe
disneyland_reviews.dtypes

Review_ID             int64
Rating                int64
Year_Month           object
Reviewer_Location    object
Review_Text          object
Branch               object
dtype: object

In [51]:
#Reviewing the overall reviews from the dataframe.
rating_stats = disneyland_reviews["Rating"].describe()
print(rating_stats)

count    19406.000000
mean         4.405339
std          0.975600
min          1.000000
25%          4.000000
50%          5.000000
75%          5.000000
max          5.000000
Name: Rating, dtype: float64

In [52]:
#Using .tail() the column Year_Month has values called Missing. Since this project is looking at the time of year and weather,
#rows with value missing in column Year_Month will be removed. 2613 rows removed from the analysis.

disneyland_reviews = disneyland_reviews[disneyland_reviews.Year_Month != "missing"]
disneyland_reviews.info

<bound method DataFrame.info of        Review_ID  Rating Year_Month Reviewer_Location  \
0      670801367       5     2019-4     United States
1      670760708       5     2019-4     United States
2      670565072       4     2019-5         Australia
3      670544335       5     2019-4     United States
4      670472278       5     2019-4            Canada
...          ...     ...        ...               ...
18879   92494269       1    2010-12            Canada
18880   92313324       4    2010-12     United States
18881   91799423       5    2010-10         Australia
18882   91657810       4    2010-12         Australia
18883   91619113       5    2010-12         Australia

                                             Review_Text  \
0      This place has always been and forever will be...
1      A great day of simple fun and thrills. Bring c...
2      All and all a great day was had. The crowds ar...
3      Having been to the Florida location numerous t...
4      Had the 4 day pass, spent 3 at DL and one at C...
...                                                  ...
18879  Myself, along with my two chidren ages 8 and 1...
18880  We love Disneyland so much that we go there of...
18881  As this was part of our international conferen...
18882  we spent one day at disneyland withmy sister  ...
18883  Waited 40 years to go to Disneyland and finall...

                      Branch
0      Disneyland_California
1      Disneyland_California
2      Disneyland_California
3      Disneyland_California
4      Disneyland_California
...                      ...
18879  Disneyland_California
18880  Disneyland_California
18881  Disneyland_California
18882  Disneyland_California
18883  Disneyland_California

[18202 rows x 6 columns]>

In [22]:
#Test API code, once successful move to custom function "call_temperature_api"
# url = "https://meteostat.p.rapidapi.com/point/monthly"

# querystring = {"lat":"22.312771","lon":"114.041931","start":"2010-10-01","end":"2010-10-31","alt":"43"}

# headers = {
# 	"X-RapidAPI-Key": "810d33a75fmshad81c9f9fe0092dp1b265fjsn84c46f310410",
# 	"X-RapidAPI-Host": "meteostat.p.rapidapi.com"
# }

# response = r.request("GET", url, headers=headers, params=querystring)

# jsonresponse = response.json()


#pd.DataFrame(jsonresponse['data'])


avg_temp = call_temperature_api("2010-10-01", "2010-10-31") #trial one month, in future to be called from List

avg_temp_value = avg_temp['data'][0]['tavg'] #per the hierarchy in the response body data drill down to just pull tavg
print(avg_temp_value)
print(pd.DataFrame(avg_temp['data']))

24.6
         date  tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
0  2010-10-01  24.6  22.5  27.2  33.0  None  None  21.6  None  1012.5  None

In [34]:
apr_range_2010 = {
    "start": "2010-04-01",
    "end": "2010-04-30"
} 

may_range_2010 = {
    "start": "2010-05-01",
    "end": "2010-05-31"
} 

jun_range_2010 = {
    "start": "2010-06-01",
    "end": "2010-06-30"
} 

jul_range_2010 = {
    "start": "2010-07-01",
    "end": "2010-07-31"
} 

aug_range_2010 = {
    "start": "2010-08-01",
    "end": "2010-08-31"
} 

sep_range_2010 = {
    "start": "2010-09-01",
    "end": "2010-09-30"
} 

oct_range_2010 = {
    "start": "2010-10-01",
    "end": "2010-10-31"
} 

nov_range_2010 = {
    "start": "2010-11-01",
    "end": "2010-11-30"
} 

dec_range_2010 = {
    "start": "2010-12-01",
    "end": "2010-12-31"
} 

jan_range_2011 = {
    "start": "2011-01-01",
    "end": "2011-01-31"
} 

feb_range_2011 = {
    "start": "2011-02-01",
    "end": "2011-02-28"
} 

mar_range_2011 = {
    "start": "2011-03-01",
    "end": "2011-03-31"
} 

apr_range_2011 = {
    "start": "2011-04-01",
    "end": "2011-04-30"
} 

may_range_2011 = {
    "start": "2011-05-01",
    "end": "2011-05-31"
} 

jun_range_2011 = {
    "start": "2011-06-01",
    "end": "2011-06-30"
} 

jul_range_2011 = {
    "start": "2011-07-01",
    "end": "2011-07-31"
} 

aug_range_2011 = {
    "start": "2011-08-01",
    "end": "2011-08-31"
} 

sep_range_2011 = {
    "start": "2011-09-01",
    "end": "2011-09-30"
} 

oct_range_2011 = {
    "start": "2011-10-01",
    "end": "2011-10-31"
} 

nov_range_2011 = {
    "start": "2011-11-01",
    "end": "2011-11-30"
} 

dec_range_2011 = {
    "start": "2011-12-01",
    "end": "2011-12-31"
} 

jan_range_2012 = {
    "start": "2012-01-01",
    "end": "2012-01-31"
} 

feb_range_2012 = {
    "start": "2012-02-01",
    "end": "2012-02-28"
} 

mar_range_2012 = {
    "start": "2012-03-01",
    "end": "2012-03-31"
} 

apr_range_2012 = {
    "start": "2012-04-01",
    "end": "2012-04-30"
} 

may_range_2012 = {
    "start": "2012-05-01",
    "end": "2012-05-31"
} 

jun_range_2012 = {
    "start": "2012-06-01",
    "end": "2012-06-30"
} 

jul_range_2012 = {
    "start": "2012-07-01",
    "end": "2012-07-31"
} 

aug_range_2012 = {
    "start": "2012-08-01",
    "end": "2012-08-31"
} 

sep_range_2012 = {
    "start": "2012-09-01",
    "end": "2012-09-30"
} 

oct_range_2012 = {
    "start": "2012-10-01",
    "end": "2012-10-31"
} 

nov_range_2012 = {
    "start": "2012-11-01",
    "end": "2012-11-30"
} 

dec_range_2012 = {
    "start": "2012-12-01",
    "end": "2012-12-31"
} 

jan_range_2013 = {
    "start": "2013-01-01",
    "end": "2013-01-31"
} 

feb_range_2013 = {
    "start": "2013-02-01",
    "end": "2013-02-28"
} 

mar_range_2013 = {
    "start": "2013-03-01",
    "end": "2013-03-31"
} 

apr_range_2013 = {
    "start": "2013-04-01",
    "end": "2013-04-30"
} 


may_range_2013 = {
    "start": "2013-05-01",
    "end": "2013-05-31"
} 

jun_range_2013 = {
    "start": "2013-06-01",
    "end": "2013-06-30"
} 

jul_range_2013 = {
    "start": "2013-07-01",
    "end": "2013-07-31"
} 

aug_range_2013 = {
    "start": "2013-08-01",
    "end": "2013-08-31"
} 

sep_range_2013 = {
    "start": "2013-09-01",
    "end": "2013-09-30"
} 

oct_range_2013 = {
    "start": "2013-10-01",
    "end": "2013-10-31"
} 

nov_range_2013 = {
    "start": "2013-11-01",
    "end": "2013-11-30"
} 

dec_range_2013 = {
    "start": "2013-12-01",
    "end": "2013-12-31"
} 

jan_range_2014 = {
    "start": "2014-01-01",
    "end": "2014-01-31"
} 

feb_range_2014 = {
    "start": "2014-02-01",
    "end": "2014-02-28"
} 

mar_range_2014 = {
    "start": "2014-03-01",
    "end": "2014-03-31"
} 

apr_range_2014 = {
    "start": "2014-04-01",
    "end": "2014-04-30"
} 


may_range_2014 = {
    "start": "2014-05-01",
    "end": "2014-05-31"
} 

jun_range_2014 = {
    "start": "2014-06-01",
    "end": "2014-06-30"
} 

jul_range_2014 = {
    "start": "2014-07-01",
    "end": "2014-07-31"
} 

aug_range_2014 = {
    "start": "2014-08-01",
    "end": "2014-08-31"
} 

sep_range_2014 = {
    "start": "2014-09-01",
    "end": "2014-09-30"
} 

oct_range_2014 = {
    "start": "2014-10-01",
    "end": "2014-10-31"
} 

nov_range_2014 = {
    "start": "2014-11-01",
    "end": "2014-11-30"
} 

dec_range_2014 = {
    "start": "2014-12-01",
    "end": "2014-12-31"
} 


jan_range_2015 = {
    "start": "2015-01-01",
    "end": "2015-01-31"
} 

feb_range_2015 = {
    "start": "2015-02-01",
    "end": "2015-02-28"
} 

mar_range_2015 = {
    "start": "2015-03-01",
    "end": "2015-03-31"
} 

apr_range_2015 = {
    "start": "2015-04-01",
    "end": "2015-04-30"
} 


may_range_2015 = {
    "start": "2015-05-01",
    "end": "2015-05-31"
} 

jun_range_2015 = {
    "start": "2015-06-01",
    "end": "2015-06-30"
} 

jul_range_2015 = {
    "start": "2015-07-01",
    "end": "2015-07-31"
} 

aug_range_2015 = {
    "start": "2015-08-01",
    "end": "2015-08-31"
} 

sep_range_2015 = {
    "start": "2015-09-01",
    "end": "2015-09-30"
} 

oct_range_2015 = {
    "start": "2015-10-01",
    "end": "2015-10-31"
} 

nov_range_2015 = {
    "start": "2015-11-01",
    "end": "2015-11-30"
} 

dec_range_2015 = {
    "start": "2015-12-01",
    "end": "2015-12-31"
} 

jan_range_2016 = {
    "start": "2016-01-01",
    "end": "2016-01-31"
} 

feb_range_2016 = {
    "start": "2016-02-01",
    "end": "2016-02-29"
} 

mar_range_2016 = {
    "start": "2016-03-01",
    "end": "2016-03-31"
} 

apr_range_2016 = {
    "start": "2016-04-01",
    "end": "2016-04-30"
} 

may_range_2016 = {
    "start": "2016-05-01",
    "end": "2016-05-31"
} 

jun_range_2016 = {
    "start": "2016-06-01",
    "end": "2016-06-30"
} 

jul_range_2016 = {
    "start": "2016-07-01",
    "end": "2016-07-31"
} 

aug_range_2016 = {
    "start": "2016-08-01",
    "end": "2016-08-31"
} 

sep_range_2016 = {
    "start": "2016-09-01",
    "end": "2016-09-30"
} 

oct_range_2016 = {
    "start": "2016-10-01",
    "end": "2016-10-31"
} 

nov_range_2016 = {
    "start": "2016-11-01",
    "end": "2016-11-30"
} 

dec_range_2016 = {
    "start": "2016-12-01",
    "end": "2016-12-31"
} 

jan_range_2017 = {
    "start": "2017-01-01",
    "end": "2017-01-31"
} 

feb_range_2017 = {
    "start": "2017-02-01",
    "end": "2017-02-28"
} 

mar_range_2017 = {
    "start": "2017-03-01",
    "end": "2017-03-31"
} 

apr_range_2017 = {
    "start": "2017-04-01",
    "end": "2017-04-30"
} 

may_range_2017 = {
    "start": "2017-05-01",
    "end": "2017-05-30"
} 

jun_range_2017 = {
    "start": "2017-06-01",
    "end": "2017-06-30"
} 

jul_range_2017 = {
    "start": "2017-07-01",
    "end": "2017-07-31"
} 

aug_range_2017 = {
    "start": "2017-08-01",
    "end": "2017-08-31"
} 

sep_range_2017 = {
    "start": "2017-09-01",
    "end": "2017-09-30"
} 

oct_range_2017 = {
    "start": "2017-10-01",
    "end": "2017-10-31"
} 

nov_range_2017 = {
    "start": "2017-11-01",
    "end": "2017-11-30"
} 

dec_range_2017 = {
    "start": "2017-12-01",
    "end": "2017-12-31"
} 

jan_range_2018 = {
    "start": "2018-01-01",
    "end": "2018-01-31"
} 

feb_range_2018 = {
    "start": "2018-02-01",
    "end": "2018-02-28"
} 

mar_range_2018 = {
    "start": "2018-03-01",
    "end": "2018-03-31"
} 

apr_range_2018 = {
    "start": "2018-04-01",
    "end": "2018-04-30"
} 

may_range_2018 = {
    "start": "2018-05-01",
    "end": "2018-05-31"
} 

jun_range_2018 = {
    "start": "2018-06-01",
    "end": "2018-06-30"
} 

jul_range_2018 = {
    "start": "2018-07-01",
    "end": "2018-07-31"
} 

aug_range_2018 = {
    "start": "2018-08-01",
    "end": "2018-08-31"
} 

sep_range_2018 = {
    "start": "2018-09-01",
    "end": "2018-09-30"
} 

oct_range_2018 = {
    "start": "2018-10-01",
    "end": "2018-10-31"
} 

nov_range_2018 = {
    "start": "2018-11-01",
    "end": "2018-11-30"
} 

dec_range_2018 = {
    "start": "2018-12-01",
    "end": "2018-12-31"
} 

jan_range_2019 = {
    "start": "2019-01-01",
    "end": "2019-01-31"
} 

feb_range_2019 = {
    "start": "2019-02-01",
    "end": "2019-02-28"
} 

mar_range_2019 = {
    "start": "2019-03-01",
    "end": "2019-03-31"
} 

apr_range_2019 = {
    "start": "2019-04-01",
    "end": "2019-04-30"
} 

may_range_2019 = {
    "start": "2019-05-01",
    "end": "2019-05-31"
} 

year_2017 = {
    "2017-01": jan_range_2017,
    "2017-02": feb_range_2017,
    "2017-03": mar_range_2017,
}
date_keys = []
averages = []
df_array = []

for key, date_range in year_2017.items():
    avg_temp = call_temperature_api(date_range['start'], date_range['end'])
    avg_temp_value = str(avg_temp['data'][0]['tavg'])
    date_keys.append(key)
    averages.append(avg_temp_value)
    
df_array.append(date_keys)
df_array.append(averages)

# https://www.statology.org/list-to-dataframe-python/
new_dataframe = pd.DataFrame(df_array).transpose()
new_dataframe.columns=['year_month', 'avg_temp']

new_dataframe.info()

new_dataframe.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year_month  3 non-null      object
 1   avg_temp    3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

  year_month avg_temp
0    2017-01     18.1
1    2017-02     16.8
2    2017-03     20.3